@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');



body{
  font-family:'Ubuntu', sans-serif;
  text-align: center;
 
  background-color: rgba(39, 37, 39, 0.533);
}

.quadrado{
  text-align: center;
  width: 50px;
  height: 50px;
  background: #c5c5c5;
  display: inline-block;
  padding: 40px;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  color: #eee;
}

.jogador, .vencedor{
  font-size: 30px;
  margin-top: 10px;
}

button{
  margin-top: 18px;
  color: white;
  width: 250px;
  height: 40px;
  background: rgb(37, 103, 226);
  cursor: pointer;
}